$dark-background : #1e2324;
$dark-light-background: #2a3132;
$light-background : #474B4F;

$font-light : #9b9fa2;
$font-white: #ffffff;

$primary-color: #86C232;
$primary-dark-color: #61892F;

$font-dark-clr : #000000;
$font-medium-clr : #666666;
$font-low-clr : #a3a3a3;


