.side-nav-bar{

}

@media screen and (min-width: 992px) {
  .side-nav-bar{
    background: black;
    height: 500px;
    .side-nav-bar-item{
        position: fixed;
        top: 56px;
        left: 10px;
        width: 200px;
        height: 100%;
        overflow-y: auto;
        padding-top: 30px;
      padding-left: 30px;
    }
  }
}