

.side-nav-bar{
  .row{
    width: 100%;
  }

  .brand-name{
    font-size: 2.2em;
    background: url('/assets/images/spakly/sparkles.gif');
  }

  .side-nav-bar-item{
    .navbar-nav{
      .nav-item{
        .nav-link{
          border: 2px solid transparent;
          color: $font-light;
        }
      }
      .nav-item:hover{
        .nav-link{
          border-left-color: $primary-color;
        }
      }
      .nav-item.active{
        color: red;
        color: $font-light;
        border: 2px solid transparent;
        border-left-color: $primary-color;
      }
    }
  }
}

@media screen and (min-width: 762px) {
  .side-nav-bar{
    background-color: $dark-background ;
    height: 100vh;
    .side-nav-bar-item{
        position: fixed;
      top: 100px;
        left: 10px;
        width: 25%;
        height: 100vh;
        overflow-y: auto;
        padding-top: 30px;
      color: white;
      .nav-item{
        color: white;
      }
    }
  }
}