.personal-details{
  margin-top: 100px;
  .detail-col{
    background-color: white;
    border-radius: 7px;

    .form-label{
      width: 100%;
      text-align: left;
    }

    .image-row{
      .image-area{
        height: 140px;
        width: 100px;
        position: relative;
        img{
          position: absolute;
          height: 200px;
          width: 200px;
          transform: translate(-50%,-40%);
          object-fit: cover;
          left: 50%;
          border-radius: 50%;
        }
        img:hover{
          top:-5px;
        }
      }
    }

  }
}