.portfolio-item{
  background-color: white;
  border-radius: 5px;

  .title-row{
    height: 80px;
    .title-logo{
      height: 100%;
      img{
        height: 100%;
      }
    }

    .title-name{
      .title-main{
        font-size: 1.4rem;
        text-align: left;
        font-weight: bold;
      }
      .title-time{
        text-align: left;
        font-size: 0.8rem;
        color: #636363;
      }
    }
  }

  .description{
    height: 80px;
    .col{
      vertical-align: baseline;
    }
  }

  .social-link-row{
    .social-link{
      color: blue;
    }
  }

  .technology-row{
    .tech-item{
      padding: 15px;
      img{
        width: 100%;
      }
    }
  }

  .social-link:hover{
    cursor: pointer;
  }

}